.projectCont{
    margin: 0;
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    z-index: 0;
}
.projectWrapper{
    width: 60vw;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    background: linear-gradient(100deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 5%, rgba(0,0,0,0.05) 10%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.8) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    gap: 30px;
}

.line{
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    height: 90%;
    top: 10%;
    position: absolute;
    left: 0;
}

.close {
    position: absolute;
    left: -16px;
    top: 25px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}
.close:hover {
opacity: 1;
cursor: pointer;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: rgb(0, 0, 0);
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

.restCont{
    background: transparent;
    width: 40vw;

}

.hero{
    width: 95%;
}


.projectTextCont{
    position: relative;
    width: 95%;
    text-align: center;
}

.headerCont{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

.creditCont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    gap: 10px;
}

.descriptionCont{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.imageCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img{
    width: 60%;
    height: auto;
}

.img:hover {
    position: relative;
    z-index: 100;
    width: 80%;
    animation: imageHover 0.1s linear;
}

@keyframes imageHover {
    from {width: 60%;}
    to {width: 80%;}
}

.imgPortrait{
    width: 80%;
    height: auto;
}

.typeCont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.projectType{
    border-radius: 100px;
    border: 2px solid white;
    padding: 5px 15px;
    width: fit-content;
    margin: 0;
}


.projectCredits{
    white-space: pre-line;
    text-align: center;
    margin: 0;
}

.projectDate{
    margin: 0;
}

.projectDescription{
    text-align: left;
    font-size: 20px;
    white-space: break-spaces;
    font-style: italic;
}

.projectDescriptionBottom{
    text-align: left;
    font-size: 20px;
    width: 80%;
    white-space: break-spaces;
}


.tagCont{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.tags{
    font-size: 15px;
    opacity: 0.7;
    margin: 0;
    background: #00000059;
    border-radius: 10px;
    padding: 0px 10px;
    font-weight: 500;
}

a{
    color: white;
    opacity: 0.7;
}

a:hover, .tags:hover{
    opacity: 1;
    cursor: pointer;
}


.about1{
    font-style: italic;
    white-space: break-spaces;
}


.aboutFlex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contactCont{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.contactDataCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.followCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relatedCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    justify-content: space-around;
    margin: 50px 0px;
}

.projectLabelCont{
    width: 40%;
    cursor: pointer;
}


/* Portrait */
@media screen and (orientation:portrait) and (max-width: 600px) {
    /* Portrait styles here */

    .projectWrapper{
    
        background: rgba(0,0,0,0.6);
        background: linear-gradient(100deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.25) 5%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.7) 20%, rgba(0,0,0,0.7) 100%);
    }
  
    .projectCont{
        flex-direction: column;
        align-items: center;
    }

    .restCont{
        background: transparent;
        height: 40vh;
        width: 100vw;
    }

    .projectWrapper{
        width: 90vw;
        padding: 10px;
    }

    .headerCont{
        flex-direction: column;
    }

    .creditCont{
        width: 100%;
    }

    .descriptionCont{
        width: 100%;
    }


    .line{
        border-top: 2px solid rgba(0, 0, 0, 0.5);
        border-left: none;
        height: 0px;
        width: 100vw;
        top: 0;
        position: absolute;
        left: 0;
    }

    .img{
        width: 100%;
    }

    .img:hover{
        width: 110%;
    }

    .projectDescriptionBottom{
        width: 100%;
    }

    .relatedCont{
		flex-direction: column;
        align-items: center;
        gap: 30px;
	}

    .projectLabelCont{
        width: 80%;
    }

    .close{
        position: sticky;
        left: 0;
        top: 0;
    }

    .close:before, .close:after {
        
        background-color: white;
    }

    .aboutFlex{
        flex-direction: column;
    }
  
}

@media screen and (orientation:portrait) and (max-width: 320px) {
/* Portrait styles here */

    

}

/* Landscape */
@media screen and (orientation:landscape) and (max-height: 700px) {
/* Landscape styles here */



    .headerCont{
        flex-direction: column;
    }

    .creditCont{
        width: 100%;
    }

    .descriptionCont{
        width: 100%;
    }

    .line{
        top: 50vh;
    }
    
    .img{
        width: 100%;
    }

    .img:hover{
        width: 110%;
    }

    .projectDescriptionBottom{
        width: 100%;
    }

    .relatedCont{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .projectLabelCont{
        width: 80%;
    }

}

@media screen and (orientation:landscape) and (max-height: 320px) {
/* Landscape styles here */


}